$primary-bg-color: #EDF2F7;
$secondary-bg-color: #FFF;

$primary-text-color: #333333;
$secondary-text-color: #4B5563;

$accent-color: #0077b3;
$warning-color: #F87171;
$success-color: #25a777;

$border-radius: 2rem;