@use '/src/styles/variables.scss' as vars;
@use '/src/styles/mixins.scss' as mixins;

.item {
  @include mixins.flex-row-between-center;
  gap: 10px;
  margin-bottom: 1rem;
  padding: 1rem 3rem;
  background-color: vars.$secondary-bg-color;
  border-radius: vars.$border-radius;
  font-size: 2rem;
  color: vars.$secondary-text-color;

  &.completed {
    background-color: rgba(vars.$success-color, 0.2)
  }
}

.taskTitle {
  word-break: break-all;
}