@use '/src/styles/mixins.scss' as mixins;
@use '/src/styles/variables.scss' as vars;
@use 'sass:math';

.wrapper {
  @include mixins.flex-center(column, nowrap);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 100;

  &.hidden {
    opacity: 0;
  }
}

.modal {
  @include mixins.flex-column-start-strech;
  gap: 3rem;
  width: 95%;
  max-width: 500px;
  padding: 2rem 3rem;
  border: 3px solid vars.$warning-color;
  border-radius: vars.$border-radius;
  transition: transform 0.3s ease-in-out;
  background-color: vars.$secondary-bg-color;

  &.hidden {
    transform: scale(1, 0);
  }
}

.closeBtnWrapper {
  height: 40px;
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.closeBtn {
  background-color: transparent;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
}

.btnsWrapper {
  @include mixins.flex-row-between-center;
}

.btn {
  padding: 1rem 2rem;
  border: 1px solid;
  font-size: 2rem;
  font-weight: 400;
  border-radius: math.div(vars.$border-radius, 2);
  transition: transform 0.1s linear;

  &:hover {
    transform: scale(1.03);
  }

  &.confirm {
    border-color: vars.$warning-color;
    color: vars.$warning-color;
  }

  &.cancel {
    border-color: vars.$secondary-text-color;
    color: vars.$secondary-text-color;
  }
}

@media (max-width: 400px) {
  .modal {
    padding: 2rem;
  }
}